CompileFlags:
  Add: ["-std=c++20", "-Iinclude"]
  Remove: ["-W*", "-fdeps-format=*", "-fmodule-mapper=*", "-fmodules-ts"]

Diagnostics:
  ClangTidy:
    Add: ["modernize-*", "performance-*", "readability-*"]
    Remove: ["modernize-use-trailing-return-type"]